[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
matplotlib = "*"
pillow = "*"
click = "*"
tabulate = "*"


[dev-packages]

ptpython = "*"
pytest = "*"
vcrpy = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
twine = "*"
"flake8" = "*"
"e1839a8" = {path = ".", editable = true}
